{% extends 'WebApp/layout/layout_main.html' %}

{% block title %}
About Us
{% endblock %}
{% load static %}

<style>
    nav.navbar {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1000;  
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .centered-heading {
        text-align: center;
    }

    .tcontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Center items horizontally */
            align-items: center; /* Center items vertically */
    }

    .info-section {
        background-color: #f0f0f0;
        padding: 8px;
        border-radius: 10px;
        margin: 10px;
        width: calc(33.33% - 20px);
        text-align: center; /* Center text within the item */   
    }

    @media screen and (max-width: 767px) {
        .info-section {
            width: calc(100% - 50px);
            order: 0;
        }
    }
</style>

{% block content %}
<body>
<div class="center-content" style="text-align: center; align-content: center;">
    <div class="tcontainer">
        <div class="info-section" id="logo">
            <img src="{% static 'logo1.png' %}" width="300" height="300">
        </div>

        <div class="info-section" id="about">
            <h2>About Us</h2>
            <p>Aloha Technology will help Amazon store owners see how customers feel about their products, whether they are positive or negative—by leveraging text sentiment analysis.</p>
            <p>Our application will provide an overview of the reviews sentiment, which will give insight into the product.</p>
        </div>

        <div class="info-section" id="contact">
            <h2>Contact Us</h2>
            <p>Feel free to reach out to us with any questions, feedback, or inquiries. We'd love to hear from you!</p>
            <p>Email: admin@aloha.com</p>
            <p>Phone: (02) 574-6790</p>
        </div>
    </div>
</div>
</body>

{% endblock %}