{% extends 'WebApp/layout/layout_Login_SignUp.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div style="text-align: center; align-content: center; overflow-x: auto;">
    <div class="container">
        <div class="about-section">
            <h2>About Us</h2>
            <p>Aloha Technology will help Amazon store owners see how customer feel about their products, whether they are positive or negative—by leveraging text sentiment analysis.</p>
            <p>Our application will provide an overview of the reviews sentiment which will give insight on the product.</p>
        </div>

        <div class="contact-section">
            <h2>Contact Us</h2>
            <p>Feel free to reach out to us with any questions, feedback, or inquiries. We'd love to hear from you!</p>
            <p>Email: admin@aloha.com</p>
            <p>Phone: (02) 574-6790</p>
        </div>
    </div>
</div>

<style>

    nav.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;  
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .about-section, .contact-section {
        width: 48%; /* Adjust the width as needed */
        align-content: center;
    }
</style>
{% endblock %}