{% extends 'WebApp/layout/layout_Login_SignUp.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .form-container {
        width: 70%;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        text-align: left;
        background-color: #f2f2f2; 
    }

    .form-group {
        margin-bottom: 12px;
    }

    .submit-btn {
        margin-top: 12px;
        display: block;
        margin: 0 auto;
        width: 200px; 
        background-color: #1EA200; 
        color: white; 
        padding: 10px; 
        border: 1px solid black; 
        border-radius: 5px; 
        cursor: pointer; 
    }

    .centered-heading {
        text-align: center;
    }
</style>

<div class="center-content">
    <div class="form-container">
        <form action="{% url 'database_create_new_user' %}" method="post">
            {% csrf_token %}
            <h1 class="centered-heading">SIGN UP</h1>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" id="username" name="username" >
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password"name="confirm_password">
            </div>
            <button type="submit" class="btn btn-primary submit-btn" >Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
