{% extends 'WebApp/layout/layout_main.html' %}

{% block title %}
Main Page
{% endblock %}

{% block content %}
    <h1>Upload A File</h1>
    {% for uid in filter_type %}
    <div id="fileform" style="display:flex;justify-content:center;align-items:center;margin-top: 10px;">
        <form method="post" enctype="multipart/form-data" action="{% url 'database_item_add' uid %}">
            {% csrf_token %}
            <label for="audio"><strong>Upload File: </strong></label>
            <input type="file" name="Files" accept=".csv, text/csv"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endfor %}
    <script>
        // Get references to the HTML elements
        const fileInput = document.getElementById("fileInput");
        const fileUpload = document.getElementById("file-upload");
    
        // Prevent the default behavior of the browser when a file is dragged over the drop area
        fileUpload.addEventListener("dragover", (e) => {
            e.preventDefault();
            fileUpload.classList.add("dragover");
        });
    
        // Restore the default styles when the file is dragged out of the drop area
        fileUpload.addEventListener("dragleave", () => {
            fileUpload.classList.remove("dragover");
        });
    
        // Handle the file drop event
        fileUpload.addEventListener("drop", (e) => {
            e.preventDefault();
            fileUpload.classList.remove("dragover");
    
            const droppedFile = e.dataTransfer.files[0];
    
            // Check if the dropped file has a .txt extension
            if (droppedFile.name.endsWith(".txt")) {
                fileInput.files = e.dataTransfer.files;
                fileInput.value = droppedFile.name;
            } else {
                alert("Only .txt files are allowed for upload.");
            }
        });
    
        // Handle the file input change event
        fileInput.addEventListener("change", () => {
            const selectedFile = fileInput.files[0];
            if (selectedFile) {
                fileUpload.classList.remove("dragover");
            }
        });

        function UploadFile(uid) {
            console.log("File uploaded");
            console.log("UID:",uid);
            // Create anchor element. 
            var a = document.createElement('a');  
                    
            // Create the text node for anchor element. 
            var link = "/application/files/add/"+uid; 
                        
            window.location.href = link;
        }
    </script>
{% endblock %}