{% extends 'WebApp/layout/layout_main.html' %}
{% load static %}

{% block title %}
View File
{% endblock %}

{% block content %}
<style>
    table {
        width: 70%;
        margin: 0 auto;
        font-size: 18px;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }

    .edit-button {
        padding: 8px 15px;
        background-color: #1EA200;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<h2 style="text-align: center;">File Details</h2>

<div class="mb-5">
<table border="1">
    <thead>
        <tr>
            <th>Edit/Delete</th>
            <th>Title</th>
            <th>Size</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in datasets %}
        <tr>
            <td>
                <button type="button" class="btn btn-success btn-rounded" style= "background-color: #50a060; margin:5px" onclick="handleEdit({{ row.fID  }})" >Edit</button>
                <button button type="button" class="btn btn-danger btn-rounded"  onclick="deleteFile({{ row.fID  }});" style="margin:5px;">Delete</button>
            </td>
            <td>{{ row.fName  }}</td>
            <td>{{ row.file.size|filesizeformat}}</td>
            <td>{{ row.fDateTime|date:"d/m/Y"}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<script>
    function handleEdit(fid) {
        console.log("Edit button pressed");
        console.log("FID:",fid);

        // Create anchor element. 
        //var a = document.createElement('a');  
                  
        // Create the text node for anchor element. 
        var link = "/application/files/edit/"+fid; 
                    
        window.location.href = link;
    }
    function deleteFile(fid) {
        console.log("File deleted");
        console.log("FID:",fid);
        // Create anchor element. 
        var a = document.createElement('a');  
                  
        // Create the text node for anchor element. 
        var link = "/application/files/delete/"+fid; 
                    
        window.location.href = link;
    }
</script>

{% endblock %}
