{% load static %}

<style>
    .btn-green {
        margin-right: 20px; 
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: hsl(120, 100%, 25%);
        font-weight: bold;
        color: white;
    }

    .bold-text {
        font-weight: bold; 
    }

    .profile-image {
        margin-right: 20px; 
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .pfp {
            color: hsl(120, 97%, 15%);
            text-decoration: none;
            font-weight: bold; 
        }

        .nav-item{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light" style= "background: linear-gradient(#7FFF7C, #ffffff); margin-bottom:50px;">
        <div class="container-fluid">
            <a href="../application/register"><img src="{% static 'logo.png' %}" aalt="logo" width="120" height="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-1 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link bold-text" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold-text" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold-text" href="#">Files</a>
                    </li>
                    <!--<button type="submit" onclick="Upload()" class="btn btn-green">Upload</button> -->
                    {% for uid in uid %}
                        <form method="post" enctype="multipart/form-data" action="{% url 'database_item_add' uid %}">
                            {% csrf_token %}

                            <!-- Combined button with onclick event -->
                            <label for="fileInput_{{ uid }}" style="cursor: pointer;"class="btn btn-green" >Upload File</label>
                            <input type="file" name="Files" id="fileInput_{{ uid }}" accept=".csv, text/csv" style="display:none;" onchange="document.getElementById('submitBtn_{{ uid }}').click();"><br><br>

                            <!-- Submit button (hidden, triggered by file input change) -->
                            <button type="submit" id="submitBtn_{{ uid }}" style="display:none;">Submit</button>

                            <!-- Added text field for displaying the message -->
                            <div style="margin-top: 10px; font-style: italic; color: #555;">
                                Pick a file, your visualization will be shown here!
                            </div>
                        </form>
                    {% endfor %}

                    <div class="profile-image">
                        <a class="pfp" href="../application/register"><img src="{% static 'profile.jpg' %}" alt="pfp" width="60" height="60">  Nenechi</a>
                    </div>
                </ul>
            </div>

            <script>
                function Upload() {
                    console.log("New upload file");
            }
        </script>
        
    </div>
</nav>